.input-field {
    display: flex;
    justify-content: center;
    max-width: 100rem;
    width: 100%;
    margin: 0.2rem auto;
    .type-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    input,
    .description-type {
      width: 100%;
      padding: 1.5rem;
      border-radius: 0.8rem;
      outline: none;
      border: 0.2rem solid rgb(24, 218, 179);
      font-size: 1.2rem;
      &:focus {
        border: 0.2rem solid black;
        box-shadow: 0.5rem 0.5rem rgb(111, 99, 99);
      }
    }
    .description-type {
      resize: vertical;
    }
    button {
      width: 15rem;
      margin-left: 1.5rem;
      border-radius: 0.8rem;
      padding: 1.5rem;
      font-weight: 600;
      font-size: 2rem;
      color: white;
      background-color: rgb(220, 104, 15);
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 4rem;
        margin-right: 1rem;
      }
      &:hover {
        cursor: pointer;
        background-color: rgb(195, 100, 28);
        box-shadow: 0.5rem 0.5rem rgb(111, 99, 99);
      }
    }
  }
  .localStorage {
    max-width: 120rem;
    margin: 2rem auto;
    font-size: 2rem;
  }
  